table {
    border-collapse: collapse;
    border-radius: 5px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    font-size: 14px;
    margin: 10px 5px;
}
  
th {
    background: #11cece;
    color: #ffffff;
    text-align: right;
}
  
th,td {
    padding: 10px 20px;
}
  
tr:nth-child(even) {
    background: #eeeeee;
}

#saveFile {
    margin: 0px 5px;
    padding: 5px;
    font-size: 16px;
    background-color: #25ac25;
    color: #ffffff;
    border: 1px;
    border-radius: 3px;
}

#inputTableLabel, #outputTableLabel, #showAvg, #saveFile {
    display: none;
}
  